[Unit]
Description=Easycoin Full Node
After=network.target

[Service]
User=easycoin
Group=easycoin
WorkingDirectory=~
RuntimeDirectory=easycoin

# Clearnet config
#
Type=forking
PIDFile=/run/easycoin/easycoin.pid
ExecStart=/usr/bin/easycoind --config-file /etc/easycoin.conf \
    --detach --pidfile /run/monero/easycoin.pid



Restart=always

[Install]
WantedBy=multi-user.target
